@model IEnumerable<uStore3.DATA.EF.Product>

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>
@if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Customer Service"))
{
    <p>
        <span class="btn btn-default">@Html.ActionLink("Add Product", "Create")</span>
    </p>
}
<div class="container">
    <div class="row">

        @foreach (var item in Model)
            {
            <div class="col-sm-6 col-md-4 panel panel-default productPanel">
                <p>
                    <img src=" ~/Content/images/_BoxCovers/@item.ProductImage" alt="" />
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.ProductName)
                <p>
                    @Html.DisplayFor(modelItem => item.Price)
                </p>
                <p>
                    <span class="btn btn-default"> @Html.ActionLink("Details", "Details", new { id = item.ProductId }) </span>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Customer Service"))
                    {
                        <span class="btn btn-default">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
                        </span>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <span class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.ProductId })</span>
                    }



                </p>

            </div>
        }

    </div>
</div>
