@model IEnumerable<uStore3.DATA.EF.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
            {
            <div class="col-sm-6 col-md-4 panel panel-default productPanel">
                <p>
                    <img src=" ~/Content/images/_BoxCovers/@item.ProductImage" alt="" />
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.ProductName)
                <p>
                    @Html.DisplayFor(modelItem => item.Price)
                </p>
                <p>
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Customer Service"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) @:|
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                    }



                </p>

            </div>
        }

    </div>
</div>
