
@{
    ViewBag.Title = "Open World";
}

        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../Content/images/img_bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1>Open World</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="fh5co-product">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center animate-box">
                        <div class="product">
                            <div class="product-grid" style="background-image:url(../../Content/images/_spiderman/_SpidermanBackground.jpg);">
                                <div class="inner">
                                    <p>
                                        <a href="@Url.Action("Spiderman", "Product")" class="icon"><i class="icon-eye"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="@Url.Action("Spiderman", "Product")">Marvel's Spiderman</a></h3>
                                <span class="price">$39.99</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <div class="product">
                            <div class="product-grid" style="background-image:url(../../Content/images/_reddeadredemption2/_RedDeadRedemption2Background.jpg);">
                                <div class="inner">
                                    <p>
                                        <a href="@Url.Action("RedDeadRedemption2", "Product")" class="icon"><i class="icon-eye"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="@Url.Action("RedDeadRedemption2", "Product")">Red Dead Redemption 2</a></h3>
                                <span class="price">$59.88</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <div class="product">
                            <div class="product-grid" style="background-image:url(../../Content/images/_farcry5/_FarCry5Background.jpg);">
                                <div class="inner">
                                    <p>
                                        <a href="@Url.Action("FarCry5", "Product")" class="icon"><i class="icon-eye"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="@Url.Action("FarCry5", "Product")">Far Cry 5</a></h3>
                                <span class="price">$29.88</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>